@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<!--Matt Jones Section 002-->
<!--This assignment asked us to create a website for Professor Hilton's brother Joel to store his movies and market his podcast.-->

<br /><br />

<div class="row m-2">
    <div class="col-6">
        <!--Simple Introduction-->
        <p>
            Welcome to the Joel Hilton Film Collection page. Here you'll find a list of all the movies deemed prestigious enough to make my film collection.
            If you want to recommend a movie to me, feel free to fill out the form and I'll find some time to watch it, but beware, it must be the best of the best
            to remain in my collection. You can also check out my podcast if you too enjoy movies and want to hear my friends and I talk about some of our favorites
            (and some of our least favorites).
        </p>
        <img class="rounded mx-auto d-block img-fluid" src="~/movies.jpg" />
    </div>

    <div class="col-6">
        <!--Image of Joel Hilton-->
        <img class="rounded mx-auto d-block img-fluid" src="~/Joel-Hilton.jpg" />
    </div>
</div>
