@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}
 <br /><br />
<div>
    <h4>Click <a href="https://baconsale.com">here</a> to check out my podcast! ( Or visit https://baconsale.com )</h4>
</div>
<br />
<img class="rounded mx-auto d-block img-fluid" src="~/BaconsalePod.png" />


